body {
    background-color: rgb(157, 240, 240);
    text-align: center;
    width: 100%;
    padding: 5% 0 0 0;
    margin: 0%;

}

h1 {
    color: blueviolet;
    width: 50%;
    margin: auto;
    font-family: 'domage';
    font-size: 3em;

}


p {
    width: 75%;
    background-color: red;
    color: rgb(159, 250, 250);
    font-family: 'chaumont';
    margin: auto;
    padding: 20px;
    font-size: 2em;
}


#lucy {
    background-color: black;
    color: white;
    font-family: 'colombia';
    margin: auto;
    padding: 30px;
    font-size: 5em;

}






@font-face {
    font-family: 'domage';
    src: url('./FONTS/Dommage.ttf');
}

@font-face {
    font-family: 'chaumont';
    src: url('./FONTS/Chaumont.otf');
}

@font-face {
    font-family: 'colombia';
    src: url('./FONTS/Colombia.otf');
}